%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{erl_opts,
 [
  debug_info,
  {parse_transform, lager_transform}
 ]}.

{deps,
 [
  {cowboy, "2.1.0"},
  {jsx, "2.8.3"},
  {lager, "3.5.2"},
  {erlydtl, {git, "git://github.com/erlydtl/erlydtl", {tag, "0.12.0"}}}
 ]}.

{shell,
 [{apps,
   [
    dek_demo
   ]}]}.

{plugins, [
           rebar3_appup_plugin
          ]}.

{relx, [{release, { dek_demo, "0.1.0" },
         [dek_demo,
          sasl]},

        {sys_config, "./config/sys.erlcfg"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
